.img-cmdPr{
    border: 2px solid var(--primary-color);
    -webkit-box-shadow: 0px 0px 23px -1px var(--bg-blue); 
    box-shadow: 0px 0px 23px -1px var(--bg-blue);
    height: 99%;
}
.color-Select{
    border:1px solid black;
    width: 10px;
    height: 10px;
}