:root {
    --bg-blue: rgb(204, 227, 245);
    --bg-green: rgb(189, 227, 216);
    --bg-purple: rgb(212, 212, 238);
    --bg-pink: rgb(252, 220, 225);
    --bg-orange: rgb(252, 231, 199);
    --bg-yellow: rgb(252, 248, 199);
    --box-shadow:#b1b0b0e6;
    --primary-color: rgb(1, 86, 119);
}

.justify-content-start{
    align-items: flex-start;
}
.navbar.navbar-light.navbar-expand-lg.bg-light{
    border-bottom: 4px solid var(--bg-blue);
    background:var(--bg-bege) !important;
    z-index: 1;
    
}
.navbar-brand{
    font-family: 'Fredericka the Great', cursive;
    color: var(--primary-color) !important;
    text-shadow: 2px 1px 1px var(--bg-blue);
    font-size: 40px;
}
.offcanvas-title {
    margin-bottom: 0;
    line-height: 1.5;
    text-decoration: none;
    font-family: 'Fredericka the Great', cursive;
    text-shadow: 2px 1px 1px var(--bg-blue);
    color: var(--primary-color) !important;
}
.offcanvas-title h5{
    font-size: 2.25rem;
}
.offcanvas-start{
    background: var(--bg-bege);
}
i.logostars svg{
    margin-bottom: 13px;
    font-size: 18px;
}
.dropdown-toggle::after{
    border : 0;
}
ul.navbar-nav .nav-item{
 margin-left: 10px;
}

.nav-item.iconNav svg ,.nav-link.dropdown-toggle.ConnectLogo svg{
    color: var(--primary-color);
    font-size: 20px;
}
.nav-link{
    padding-bottom: 0;
    font-size: min(max(14px,1.4vw), 18px);
    font-weight: bold;
}
div.offcanvas-body{
    justify-content: space-around;
}

/*dropow icon de connection */

.dropdown-menu.connectIcon.show{
    left : -130px;
}

/* debut du underline animer sur les nav-link*/

.nav-item.nav-menu .nav-link, .loglink{
    position: relative;
    display: inline-block;
    text-decoration: none ;
    background-color: transparent;
}
.nav-item.nav-menu .nav-link:after,.loglink:after{
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 2px;
    width: 100%;
    content: "";
    background:var(--primary-color);
    -webkit-transition: all, 1s;
    -o-transition: all, 1s;
    transition: all, 1s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.nav-item.nav-menu:hover .nav-link:after,.loglink:hover:after{
    transform: scale(1);
}

/*fin animated underline*/

.navbar-brand:hover,.nav-link:hover{
    cursor: pointer;
}
.dropdown-menu{
    padding :0 !important;
}
.dropDownContentLink{
border-bottom:1px solid rgba(0, 0, 0, 0.253) ;
padding: 5px;
}
.dropMenuLink,.loglink{
    color:black;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55);
    font-size: min(max(14px,1.4vw), 18px);
    font-weight: bold;
}
.dropDownContentLink:hover,.loglink:hover{
    color: rgba(0, 0, 0, 0.7);
}
.loglink{
    padding: 0.5rem 1rem;
    padding-bottom: 0;
}

/*footer css*/

.footerBG{
    height: 80px;
    background:white;
    border-top: 4px solid var(--bg-blue);
}
@media screen and (max-width : 992px ) {
    .nav-link{
      
        font-size: 18px;
      
    }
}